@media screen and (max-width:850px) {
    .container {
        width: 600px;
    }
}


@media screen and (max-width:600px) {
    .bgOne {
        width: 60%;
        height: 70%;
    }
    .container {
        width: 100%;
        flex-direction: column;
    }
    .phone ,
    .info{
        width: 100%;
    }
    .phone {
        order: 1;
        width:100%;
    }
    .innerWrapper {
        width: 100%;
    }
    .info {
        order: 2;
        text-align: center;
        padding: 10px;
    }
}