@media screen and (max-width:850px) {
    .container {
        width: 600px;
    }
}


@media screen and (max-width:600px) {
    .bgOne {
        width: 80%;
    }
    .container {
        width: 90%;
        flex-direction: column;
    }
    .phone ,
    .info{
        width: 100%;
    }
    .phone {
        order: 1;
    }
    .info {
        order: 2;
        text-align: center;
        padding: 10px;
    }
}